<html>
	<head>
		<title>Home | Page</title>
		
		<script  src="jquery-3.3.1.js"></script>
		<script  src="test.js"></script>
	</head>
	<body>


		<h1>Welcome <%=name %></h1>

		
		<div style="background-color:green;" size="35">
			<table align="center" width="130%">
				<tr>
					<td><button><a href="/admin">HOME</a></button>
						
					<td><th><button><a href="admin/passward">Change Passward</a></button> | 
						<button><a href="/logout">Log Out</a></button></th></td>
			
				</tr>
			</table>
			<br/><br/>
			<table align="center" style="background-color:skyblue;">
				<tr>
					<td>
						<input placeholder="enter area name" id="nam"/>
						<button>Search Blood Bank</button><p id="par"></p>
					</td>
					
				</tr>
			</table>	
				


			</table>
			<table>
				<tr>
					<td><button><a href="/admin/place">Add New Place</a></button></td>
					
				</tr>
				<tr>
					<td><button><a href="/admin/grp_regis">Add Blood Bank</a></button></td>
				</tr>
			
				<tr>
					<th><button><a href="/admin/view_bank">View Blood Bank</a></button></th>
				</tr>
				<tr>
					<td><button><a href="/admin/view_user">View User</a></button></td>
				</tr>


				<tr>
					<td><button><a href="/admin/view_post">View Post</a></button></td>
				</tr>
			</table>

		</div>
		
	</body>
</html>