<html>
<head>
	<script  src="../jquery-3.3.1.js"></script>
	<script  src="../abc.js"></script>

	<style type="text/css">textarea[name=mes]{
						font-size: 10px;
						height:100px; // for say a select
						width: 150px;
						}</style>

</head>
<body>
	<div style="background-color:red;" size="35">
		 <table align="center" width="100%">
	 	<tr>
	 		<td><button><a href="/home">HOME  </a></button></td>
	 		<td><button><a href="/home/myrequest">MY ALL REQUEST </a></button></td>
	 		<td><button><a href="/home/postbloodrequest">Request blood </a></button></td>
	 		<td><button ><a href="/home/finddonor">Find donor  </a></button></td>
	 		<td><button><a href="/logout">Log Out</a></button></td>
	 	
	 	</tr>


	 </table>
  </div>
  <div>
	 <frame>
	 	
       <table>
       	<tr>
       		<td><input type="text" name="area" id="ok"></td>
       		<td><button>Search Area</button> </td>

       	</tr>

       </table>


	 </frame>

   </div>
   <p id="par"></p>
</body>
</html>