<html>
<head>
	
</head>
<div><button><a href="/login">back to login </a></button></div>

<body>
<h3>password will be sen to you mail</h3>
<tr><%= r%></tr>
<form method="post">
<h3>Enter Email Address</h3>	
<input type="text" name="email" id="email"></input>
<input type="submit"  value="submit"></input>
</form>

</body>


</html>