<html>
<head>
	<title>Registration Group | Page</title>
	
	<script  src="../jquery-3.3.1.js"></script>
	<script  src="../area.js"></script>
	<script  src="../bank_vali.js"></script>
</head>
<body>
	<div style="background-color:red;" size="35">
			<table align="center" width="150%">
				<tr>
					<td><a href="/admin">Back</a><button><a href="/admin">HOME  </a></button></td>
					<td><button><a href="/logout">Log Out</a></button></td>
			
				</tr>


			</table>
			<table align="center" style="background-color:skyblue;">
		    	<form method="post">
		     		<tr>

		     			<h1>Create new Blood Bank Details</h1>
				     
				    </tr>
				     <tr>
				     	<th>Blood Bank Name</th>
				     	<th><input type="text" name="gname" id="name"></th>
				     	<th id="ername"></th>
				     </tr>
				      <tr>
				     	<th>Email</td>
				     	<th><input type="text" name="email" id="email"></th>
				     	<th id="eremail"></th>
				     </tr>
				      <tr>
				     	<th>Phone number</th>
				     	<th><input type="text" name="phn" id="phn"></th>
				     	<th id="erphn"></th>
				     </tr>
				      <tr>
				     	<th> select Divition</th>
				     	<th><select id="divi" name="divi">

				     		  <option value="" selected></option>
				     		  <option value="barisal">Barisal</option>
							  <option value="dhaka">Dhaka</option>
							  <option value="Chittagong">Chittagong</option>
							  <option value="Khulna">Khulna</option>
							  <option value="Mymensingh">Mymensingh</option>
							  <option value="Rajshahi">Rajshahi</option>
							  <option value="Rangpur">Rangpur</option>
							  <option value="Sylhet">Sylhet</option>
							  
							  
							</select></th>
							<th id="erdivi"></th>
				     </tr>

				      <tr>

				     	<th>Area</th>
				     	<th><select id="area" name="area">
							</select></th>
							<th id="erarea"></th>
				     </tr>
				      <tr>
				     	<p id=p> </p>
				      </tr>
				      <tr>
				     	<th></th>
				     	<th><input type="submit" value="submit"></th>
				     </tr>


					</form>



				</table>

	</div>
	
		
	</body>
</html>