<html>
<head>
	<title>Create | Page</title>
	<script  src="../jquery-3.3.1.js"></script>
	<script  src="../area.js"></script>
	<script  src="../divi_vali.js"></script>
</head>
<body>
	<div style="background-color:red;" size="35">
			<table align="center" width="150%">
				<tr>
					<td><a href="/admin">Back</a><button><a href="/admin">HOME  </a></button></td>
					<td><button><a href="/logout">Log Out</a></button></td>
			
				</tr>


			</table>

			<table style="background-color:skyblue;" align="center">
				<form method="post">
					<tr>
						<br/><br/>
					</tr>

				<tr>
			     	<th> Select Division</th>
			     	<th><select id="divi" name="divi">

			     		  <option value="" selected></option>
			     		  <option value="barisal">Barisal</option>
						  <option value="dhaka">Dhaka</option>
						  <option value="Chittagong">Chittagong</option>
						  <option value="Khulna">Khulna</option>
						  <option value="Mymensingh">Mymensingh</option>
						  <option value="Rajshahi">Rajshahi</option>
						  <option value="Rangpur">Rangpur</option>
						  <option value="Sylhet">Sylhet</option>
						  
						  
						</select></th>
						<th id="erdivi"></th>
			     </tr>

			      <tr>

			     	<th>Area</th>
			     	<th><input type="text" id="area" name="area"/>
						</select></th>
						<th id="erarea"></th>
			     </tr>
			     <tr>
			     	<th></th>
			     	<th><input type="submit" name="submit"/></th>
			     </tr>
			     </form>
			</table>
		

	</div>
	
	
</body>
</html>